*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 25%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}


.nav-list{
    width: 50%;
    display: flex;
    align-items: center;

} 

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-list li a:hover{
    color: lightcoral;

}

.rightNav{
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.7) url("https://source.unsplash.com/300x300/?school");
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: auto;
    max-width: 50%;
    height: 100vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

}

.text-big{
    font-size: 52px;

}

.text-sm{
    font-size: 25px;
    

}
.text-small{
    font-size: 100px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border-radius: 8px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;

}

.btn-dark{
    color: black;
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px;

}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    padding: 16px 0;

}

.sectionSubTag{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.contact{
    background: rgb(240, 237, 237);
    height: 800px;
    align-items:center;

}

.text-center{
    text-align: center;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

.form{
    max-width: 55%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0px;
    padding: 5px 3px;
    width: 100%;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: white;
}


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.start{
    padding-top: 60px;
    text-align: center;
}

.st{
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
}

.thumbnail-center{
    width: 500px;
    border: 6px solid black;
    border-radius: 20px;
    margin-top: 19px;
    justify-self: center;
    align-content: center;
    display: flex;
    margin-left: 50%;
    margin-right: 50%;

}

@media only screen and (max-width: 970px){
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        transition: all 3s ease-out;
        height: 490px;
    }

    .rightNav{
        text-align: center;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search{
        width: 100%;
    }

    .h-nav-resp{
        height: 72px;
    }

    .burger{
        display: block;
    }

    .v-class-resp{
        opacity: 0;
    }

    .section{
        flex-direction: column-reverse;
    }

    .text-big{
        text-align: left;
    }
    
    .text-small{
        text-align: left;
    }

    .buttons{
        text-align: center;
    }

    .paras{
        padding: 0px 1px;
        justify-content: center;
    }

}